html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
}

th.lose {
    background-color: firebrick;
}

th.win {
    background-color: green;
}

table tr:nth-child(even) {
    background-color: rgba(50, 50, 50, 0.3);
    ;
}