{% extends 'base.html' %}

{% block content %}
    <header class="event__h1__container">
        <div class="event__h1__wrapper">
            <h1>{{header}} Predictions for {{event_name}}</h1>
        </header>
    <div class="table_wrapper">
        <table class="event__table">
            {% for results,rf,bf in results_rf_bf%}
                <tr>
                    {%if results == 1.0 %}
                        <th class="win">W</th>
                    {% else %}
                        <th class="lose">L</th>
                    {% endif %}
                    <th>{{rf}}</th>
                    <th>{{bf}}</th>
                    {%if results == 1.0 %}
                        <th class="lose">L</th>
                    {% else %}
                        <th class="win">W</th>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        document.getElementById('{{class_name}}').classList.add("base__header__active")
    </script>
{% endblock %}
