<!doctype html>
<title>UFC Fight Predictor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="header__wrapper">
  <header class="base__header">
    <nav class="base__nav">
      <h1 class="base__header__title">UFC Event Predictor</h1>
      <h1 id="log_reg" class="base__header__nonactive"><a class="nav__a"
          href="{{url_for('machine_learning.logistic_regression')}}">Log
          Reg<a /></h1>
      <h1 id="svm" class="base__header__nonactive"><a class="nav__a"
          href="{{url_for('machine_learning.support_vector_machine')}}">SVM</a></h1>
      <h1 id="neural_networks" class="base__header__nonactive"><a class="nav__a"
          href="{{url_for('machine_learning.neural_networks')}}">Neural Networks</a></h1>
    </nav>
  </header>
</div>
<main>
  <section class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <div class="disclaimer__container">
      <div class="disclaimer__wrapper">
        <p> <b>DISCLAIMER:</b> Please use this app responsibly! The developer is not responsible for any financial
          losses based on predictions from this app. This model currently has about a 70% accuracy rate, so probably not
          the best idea to toss the house down on it :p</p>
      </div>
    </div>
    <div class="github__container">
      <div>
        <h3>For technical details, please visit the <a class="git__link"
            href="https://github.com/natebuel29/ufc-event-predictor">GitHub
            repository</a></h3>

      </div>
    </div>
  </section>
</main>
<footer></footer>