<!doctype html>
<title>{% block title %}{% endblock %} - UFC Fight Predictor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="header_wrapper">
<header>
  <nav>
    <h1 class="header_title">UFC Event Predictor</h1>
  </nav>
</header>
</div>
<section class="content">
  <div>
    {% block header %}{% endblock %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<div>
  <p>DISCLAIMER WILL GO HERE - PLEASE NO SUE ME FOR LOSE MONEY UwU</p>
</div>